# Copyright (c) 2025 Silicom Connectivity Solutions, Ltd.
# SPDX-License-Identifier: Apache-2.0

config MFD_EMC230X
	bool "Microchip EMC230X I2C configurable PWM controller"
	default y
	depends on DT_HAS_MICROCHIP_EMC230X_ENABLED
	select I2C
	help
	  Enable driver for Microchip EMC230X.
