# Copyright (c) 2025 Silicom Connectivity Solutions, Ltd.
# SPDX-License-Identifier: Apache-2.0

config MFD_EMC230X
	bool "Microchip EMC230X I2C configurable PWM controller"
	default y
	depends on DT_HAS_MICROCHIP_EMC230X_ENABLED
	select I2C
	help
	  Enable driver for Microchip EMC230X.

config MFD_EMC230X_INIT_PRIORITY
	int "emc230x MFD initialization priority"
	default MFD_INIT_PRIORITY
	depends on MFD_EMC230X
	help
	  Mult-function device initialization priority for emc230x.
